@model IEnumerable<PostSys.Models.Post>

@{
	ViewBag.Title = "ManageMyPost";
}

<h2>ManageMyPost</h2>

@using (Html.BeginForm("ManageMyPost", "Posts", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Posts Name</th>
			<th>Assignment Name</th>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Course Name</th>
			<th>Delete</th>
			@if (User.IsInRole("Student"))
			{
				<th>Download File</th>
			}

		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Assignment.Name</td>
				<td>@item.Assignment.Deadline.StartDate</td>
				<td>@item.Assignment.Deadline.EndDate</td>
				<td>@item.Assignment.Course.Name</td>
				<td>@Html.ActionLink("Delete", "DeletePost", new { id = item.Id })</td>
				@if(User.IsInRole("Student"))
				{
					<td>@Html.ActionLink("Download", "DownloadFile", new { id = item.Id })</td>
				}

				@if(User.IsInRole("Marketing Coordinator"))
				{
					<td>@Html.ActionLink("AddPublication", "CreatePublication", new { id = item.Id })</td>
					<td>@Html.ActionLink("AddComment", "CreateComment", new { id = item.Id })</td>
				}
			</tr>
		}
	</table>
}

