@model IEnumerable<PostSys.Models.Comment>
@{
	ViewBag.Title = "ManageMyComment";
}

<h2>ManageMyComment</h2>

@using (Html.BeginForm("ManageMyComment", "Posts", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Comment</th>
			<th>Posts Name</th>
			<th>Assignment Name</th>
			<th>Course Name</th>
			<th>Class Name</th>
			<th>Coordinator Name</th>
			@if (User.IsInRole("Marketing Coordinator"))
			{
				<th>Delete</th>
			}

		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Description</td>
				<td>@item.Post.Name</td>
				<td>@item.Post.Assignment.Name</td>
				<td>@item.Post.Assignment.Course.Name</td>
				<td>@item.Post.Assignment.Course.Class.Name</td>
				<td>@item.Post.Assignment.Course.Class.Coordinator.UserName</td>
				@if (User.IsInRole("Marketing Coordinator"))
				{
					<td>@Html.ActionLink("DeleteComment", "DeleteComment", new { id = item.Id })</td>
				}
			</tr>
		}
	</table>
}
