@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*@if (Request.IsAuthenticated && User.IsInRole("Marketing Manager"))
{*@
	<div class="col-md-4">
		<h2>Manager</h2>
		<p>
			Chuc nang cua Manager
		</p>
		<button class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Faculty Function<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>@Html.ActionLink("Create Faculty", "CreateFaculty", "Faculties")</li>
				<li>@Html.ActionLink("Create Class", "CreateClass", "Classes")</li>

				<li>@Html.ActionLink("List Faculty", "ListFaculty", "Faculties")</li>
				<li>@Html.ActionLink("List Class", "ListClasses", "Classes")</li>
				<li>@Html.ActionLink("List Course", "ListCourses", "Courses")</li>
				<li>@Html.ActionLink("List Assignment", "ListAssignment", "Assignments")</li>
				<li>@Html.ActionLink("List Posts", "ListPost", "Posts")</li>
				<li>@Html.ActionLink("List Comment", "ListComment", "Posts")</li>
				<li>@Html.ActionLink("List Publication", "ListPublication", "Posts")</li>
				<li>@Html.ActionLink("List Deadline", "ListDeadline", "Deadlines")</li>
			</ul>
		</button>
	</div>
@*}*@


@*@if (Request.IsAuthenticated && User.IsInRole("Marketing Coodinator"))
{*@
	<div class="col-md-4">
		<h2>Coordinator function</h2>
		<p>
			Chuc nang cua Coordinator
		</p>
		<button class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Coordinator Function<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>@Html.ActionLink("CreateCourse", "CreateCourse", "Courses")</li>
				<li>@Html.ActionLink("CreateDeadline", "CreateDeadline", "Deadlines")</li>

				<li>@Html.ActionLink("Manage My Course", "ManageMyCourse", "Courses")</li>
				<li>@Html.ActionLink("Manage My Assignment", "ManageMyCourse", "Courses")</li>
				<li>@Html.ActionLink("Manage My Post", "ManageMyPost", "Posts")</li>

				<li>@Html.ActionLink("Manage My Publication", "ManageMinePublication", "Posts")</li>
				<li>@Html.ActionLink("Manage My Comment", "ManageMyComment", "Posts")</li>


				<li>@Html.ActionLink("ManageMyDeadline", "ManageMyDeadline", "Deadlines")</li>
			</ul>
		</button>
	</div>
@*}*@



@*@if (Request.IsAuthenticated && User.IsInRole("Student"))
{*@
	<div class="col-md-4">
		<h2>Student function</h2>
		<p>
			Chuc nang cua Student
		</p>
		<button class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Manager Function<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>@Html.ActionLink("ManageMyAssignment", "ManageMyAssignment", "Assignments")</li>
				<li>@Html.ActionLink("ManageMyPost", "ManageMyPost", "Posts")</li>
			</ul>
		</button>
	</div>
@*}*@