@model PostSys.ViewModels.CoordinatorFacultyViewModel
@{
	ViewBag.Title = "CreateClass";
}

<h2>CreateClass</h2>

@using (Html.BeginForm("CreateClass", "Classes", FormMethod.Post))
{
	@Html.HiddenFor(i => i.Class.Id)

	<div class="form-group">
		@Html.LabelFor(p => p.Class.Name)
		@Html.TextBoxFor(p => p.Class.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(p => p.Class.Name, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Class.CoordinatorId)
		@Html.DropDownListFor(m => m.Class.CoordinatorId,
			new SelectList(Model.Coordinators, "Id", "Email"), "Select Coordinator",
			new { @class = "form-control" }
		)
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Class.FacultyId)
		@Html.DropDownListFor(m => m.Class.FacultyId,
			new SelectList(Model.Faculties, "Id", "Name"), "Select Coordinator",
			new { @class = "form-control" }
		)
	</div>

	<button type="submit" class="btn btn-primary">Assign more</button>
}